body {
    background-color:#afa7a7;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    text-align: center;

}
header .profile{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 3rem;
}

ul li{
    width: 20%;
    background:rgb(215, 215, 216);
    padding:0.5rem;
    border-radius: 16px;
    margin:  0.5rem 0;
    list-style: none;
}

footer{
    text-align: center;
    margin-top: 3rem;
    padding-top: 1rem;
    border-top: 1px solid rgb(158, 135, 3);
    color: rgb(3, 3, 121)
}

ul li a{
    color: blue;
    font-weight: bold;
    transition: 0,3s;

}
ul li a:hover{
    color: green;
}