body {
    background-color:#363636;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    text-align: center;

}
header .profile{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 3rem;
}

ul li{
    width: 20%;
    background: rgb(1, 1, 68);
    padding:0.5rem;
    border-radius: 16px;
    margin:  0.5rem 0;
}

footer{
    text-align: center;
    margin-top: 3rem;
    padding-top: 1rem;
    border-top: 1px solid rgb(158, 135, 3);
    color: rgb(3, 3, 121)
}